.display {
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 70px;
  gap: 20px;
}

.text-align {
  text-align: end;
}

.posicao {
  display: flex;
  justify-content: space-between;
}